# GEMINI API KEY:
GEMINI_API_KEY=

# GROQ API KEY:
GROQ_API_KEY=

# PostgreSQL:
DATABASE_URL="postgresql://sa:DefaultPassword0@localhost:5432/dbMoneyia"
DB_NAME="dbMoneyia"
DB_USER="sa"
DB_PASSWORD="DefaultPassword0"